<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Employees.Properties.Settings.PersonsConnectionString"
            connectionString="Data Source=D:\Projects\Courses\TP\Compact\Prj\LL1a\EmpData\Persons.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>